@model espverbs.Domain.Words.Verbs.Tense
@using Server.Helpers
@{
    ViewData["Title"] = "Details";
}

<h1>@ResourceHelper.GetString("TenseCaption")</h1>

<div>
    <h4>@ResourceHelper.GetString("TenseCaption")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@ResourceHelper.GetString("EditButton")</a> |
    <a asp-action="Index">@ResourceHelper.GetString("BackButton")</a>
</div>
