@model espverbs.Domain.Words.Verbs.Mutations.RegularVerbsMutation
@using Server.Helpers

@{
    ViewData["Title"] = "Delete";
}

<h1>@ResourceHelper.GetString("DeleteCaption")</h1>

<h3>@ResourceHelper.GetString("AreYouSureQuestion")</h3>
<div>
    <h4>@ResourceHelper.GetString("RegularVerbMutationCaption")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PronounForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PronounForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbConjugationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbConjugationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tense.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@ResourceHelper.GetString("DeleteButton") class="btn btn-danger" /> |
        <a asp-action="Index">@ResourceHelper.GetString("BackButton")</a>
    </form>
</div>
