@model espverbs.Domain.Words.Verbs.Mutations.RegularVerbsMutation
@using Server.Helpers

@{
    ViewData["Title"] = "Details";
}

<h1>@ResourceHelper.GetString("DetailsCaption")</h1>

<div>
    <h4>@ResourceHelper.GetString("RegularVerbMutationCaption")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PronounForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PronounForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbConjugationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbConjugationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tense.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@ResourceHelper.GetString("EditButton")</a> |
    <a asp-action="Index">@ResourceHelper.GetString("BackButton")</a>
</div>
