@model IEnumerable<espverbs.Domain.Words.Verbs.Verb>
@using Server.Helpers

@{
    ViewData["Title"] = "Index";
}

<h1>@ResourceHelper.GetString("IndexCaption")</h1>

<p>
    <a asp-action="Create">@ResourceHelper.GetString("CreateButton")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Root)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConjugationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Root)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConjugationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@ResourceHelper.GetString("EditButton")</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@ResourceHelper.GetString("DetailsButton")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@ResourceHelper.GetString("DeleteButton")</a>
            </td>
        </tr>
}
    </tbody>
</table>
